#xrcontainer{
	position: absolute;
    right: 0;
    top: 0;
}

#resizeButton{
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1;
    height: 10%;
}

.fullscreen {
	width: 100%;
    position: fixed !important;
    z-index: 2;
}

.smallscreen {
	width: 40%;
	max-width: 600px;
	overflow: hidden;
	z-index: 5;
}

.panel{
   max-height: 80%;
}

.panel h3, .panel p{
   font-size: 0.8vw;
}

.panel img{
   max-width: 30%;
}

#instruction button{
   padding: 1px 6px;
   font-size: 0.9vw;
   margin-top: 5px;
}

/* 2D MAP STYLING*/

#top-container{
    width: 100%;
    height: 100%;
}

#map-container{
    position: relative;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

#map-canvas {
    height: inherit;
}

/* RIGHT PANEL STYLING*/

#risk-panel{
    background-color: white;
    height: 100%;
    width: 25%;
    top: 0;
    right: 0;
    position: absolute;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

#risk-panel .title {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 15px;
}

#risk-panel .button {
    margin-bottom: 15px;
}

#risk-panel .is-divider {
    margin: 20px 0;
}

#progress {
    z-index: 2;
}